@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.user-window{
    background-color: #2a2c43;
    height: 100vh;
}
.header-userwindow{
    height: 10vh;
}

.heading{
    color: white;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}