.user,
.agent {
  color: black;
  border-radius: 20px;
  margin: 8px 10px;
  user-select: none;
  cursor: pointer;
}
.user h5,
.agent h5 {
  margin-left: 15px;
}
.user:hover,
.agent:hover {
  transform: scale(0.9);
  background-color: #f3f3f5;
  letter-spacing: 3px;
  transition: letter-spacing 2s;
}

.bg-1 {
  background-color: white;
}
.bg-2 {
  background-color: #f3f3f5;
}
